.japanese {
	font-family:	"Arial Unicode MS";
    font-size:		15;
	font-weight:	bold;
    color:			#CC3333;
}

.english {
	font-family:	"Verdana";
    font-size:		15;
	font-style:		italic;
    color:			#009966;
}